<div class="container-fluid">
	<%- message %>
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">Users</h6>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>#</th>
							<th>Name</th>
							<th>Time</th>
							<th>Destination</th>
							<th>Bus</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>#</th>
							<th>Name</th>
							<th>Time</th>
							<th>Destination</th>
							<th>Bus</th>
						</tr>
					</tfoot>
					<tbody>
						<% bookings.forEach(function(booking, key){ %>
						<tr>
							<td><%= key+1 %></td>
							<td><%= booking.user.profile.firstname+" "+booking.user.profile.lastname %></td>
							<td><%= booking.schedule.time %></td>
							<td><%= booking.schedule.destination %></td>
							<td><%= booking.schedule.bus.number %></td>
						</tr>
						<% }); %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
